#example1 {
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}

.serif {
    font-family: "Times New Roman", Times, serif;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.sansserif2 {
    font-family: Impact, Charcoal, sans-serif;
}


/*头部*/

.header {
    text-align: center;
    padding: 40px;
}

.pos_fixed {
    position: fixed;
    top: 10px;
    right: 10px;
}

.pos_fixed_menu {
    position: fixed;
    left: 10px;
    top: 10px;
}


/* 导航条 */

.topnav {
    width: 430px;
    overflow: hidden;
    margin: auto;
}


/* 导航链接 */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
}


/* 链接 - 修改颜色 */

.topnav a:hover {
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
}

.column {
    float: left;
}


/* 左右侧栏的宽度 */

.column.lside {
    width: 20%;
    padding-right: 30px;
    padding-left: 40px;
}


/* 中间列宽度 */

.column.middle {
    width: 60%;
}

.column.rside {
    width: 20%;
    padding-right: 5px;
    padding-left: 5px;
}


/* 创建两列 */


/* 主 column */


/* .leftcolumn {
    float: left;
    width: 75%;
} */


/* 右侧栏 */


/* .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
} */


/* 列后面清除浮动 */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* 响应式布局 - 宽度小于600px时设置上下布局 */

@media screen and (max-width: 600px) {
    .column.side,
    .column.middle {
        width: 100%;
    }
}


/* 列后清除浮动 */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* 响应式布局 - 小于 600 px 时改为上下布局 */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.footer {
    text-align: left;
    padding: 0;
}


/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
        margin-bottom: 0%;
    }
}


/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}


/* 文章卡片效果 */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.WebTitle {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0em;
}

.WebTitle a {
    color: #fff;
    text-decoration: none;
    font-size: 60px;
}

.WebTitle a:hover {
    color: #fff;
    text-decoration: none;
    font-size: 120%;
}

.WebFooter {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #000;
}

a {
    text-decoration: none;
    font-size: 18px;
}

a:link {
    text-decoration: none;
    /*未访问*/
}

a:visited {
    text-decoration: none;
    /*已访问*/
}

a:hover {
    text-decoration: none;
    font-size: 120%;
    /*悬停*/
}

a:active {
    text-decoration: none;
    /*按下鼠标*/
}


/*提示工具*/

.tooltip {
    position: fixed;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    right: 110%;
    top: 2px;
    margin-left: -60px;
    /* 淡入 - 1秒内从 0% 到 100% 显示: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#hello {
    width: 94%;
    max-width: 1024px;
    margin-top: 10px;
    background: #ffffff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 4px #999;
    text-align: center;
    height: 48px;
    line-height: 48px;
    /*padding-top: 18px;*/
    /*padding-bottom: 18px;*/
    font-size: 14px;
    color: #4D4D4D;
    font-weight: 700;
    font-style: normal;
}

.infocard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* margin-right: 10px; */
    margin: auto;
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    font-family: arial;
}

.infocard img {
    border-radius: 5px 5px 0 0;
}

.infocard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}